body {
    padding: 0;
    margin: 0;
}

.chaos-ui {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

.chaos-ui--text, p {
    font-family: 'Karla', sans-serif;
}

.chaos-ui--text {
    color: white;
    display: block;
    font-size: 24px;
}